hr{
    margin:30px 0px;
    border: 2px 0px 0px 0px;
    border-width: 1px;
    border-style: dashed;
    /* width: 90%; */
}

.temp{
    background-color:#FFF3E2 !important;
    height: 100vh;
    margin: -20px;
    margin-top: 0;
    padding: 30px;
}